* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000;
  --secondary: #1e1e1e;
  --neutral-1: #fff;
  --neutral-2: #888888;
  --neutral-3: #474747;
  --accent: #0ebc3f;
}

body {
  background-color: var(--primary);
  color: var(--neutral-1);
  font-family: "Inter", sans-serif;
  padding-bottom: 128px;
}

section {
  padding: 32px;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.song {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.song:hover {
  background-color: var(--neutral-3);
  transition: background-color 0.2s;
}

.song > div > p:first-child {
  margin-bottom: 4px;
}

.song > div > p:last-child {
  font-size: 14px;
  color: var(--accent);
}

.song span {
  color: var(--neutral-2);
}

#now-playing {
  position: fixed;
  bottom: 32px;
  inset-inline: 32px;
  background-color: var(--accent);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 11px 10px 50px -14px rgba(163, 163, 163, 0.71);
}
