* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000;
  --secondary: #1e1e1e;
  --neutral-1: #fff;
  --neutral-2: #888888;
  --neutral-3: #474747;
  --neutral-4: #242424;
  --accent: #0ebc3f;
}

body {
  background-color: var(--primary);
  color: var(--neutral-1);
  font-family: "Inter", sans-serif;
  padding-bottom: 128px;
}

button {
  border: none;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.song {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.song:hover {
  background-color: var(--neutral-3);
  transition: background-color 0.2s;
}

.song > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.song .song-info > p:first-child {
  margin-bottom: 4px;
}

.song .song-info > p:last-child {
  font-size: 14px;
  color: var(--accent);
}

.song span {
  color: var(--neutral-2);
}

.horizontal-list {
  display: flex;
  gap: 16px;
  width: 100%;
  overflow-x: auto;
}

.horizontal-list > *:first-child {
  margin-left: 32px;
}

.horizontal-list > *:last-of-type {
  margin-right: 32px;
}

.artist {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--secondary);
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 24px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.artist:hover {
  background-color: var(--neutral-4);
}

.artist img {
  width: 152px;
  height: 152px;
  object-fit: cover;
  border-radius: 50%;
}

.artist-thumbnail {
  position: relative;
}

.artist-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.artist-info > div {
  display: flex;
  justify-content: space-between;
}

.artist p {
  color: var(--neutral-2);
}

.play-button {
  padding: 16px;
  border-radius: 999px;
  background-color: var(--accent);
  display: inline-flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

.play-button:hover {
  cursor: pointer;
  transform: translate(-4px, -4px);
  box-shadow: 11px 10px 50px -14px var(--primary);
}

.artist .play-button {
  transition: 0.2s;
  opacity: 0;
}

.artist:hover .play-button {
  opacity: 1;
}

#now-playing {
  position: fixed;
  bottom: 32px;
  inset-inline: 32px;
  background-color: var(--accent);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 11px 10px 50px -14px rgba(163, 163, 163, 0.71);
}
